
input[type=file] {
    display: none;
}

.upload-button {
    margin: 1em;
    padding: 0.25em;
}

select {
    margin: 1em;
}

.upload-button, input[type=button],input[type=submit],select {
    border-radius: 0px;
    border-color: var(--accent-1-d);
    border-style: solid;
    background-color: var(--background-2-d);
    color: var(--text-1-l);
}

audio {
    background-color: var(--accent-3-d);
    color: black;
    height: 25px;
}

form {
    padding: 1em;
}

input[type=submit] {
    margin: 0.75em;
    padding: 0.5em;
    font-size: large;
}

input[type=text] {
    margin: 0.3em;
    border-radius: 0px;
    border-color: var(--accent-1-d);
    border-style: solid;
    background-color: var(--background-2-d);
    color: var(--text-1-l);
}