
/*input[type=file] {
    display: none;
}*/

select {
    margin: 1em;
}

.button-big, input[type=button],input[type=submit],select {
    border-radius: 0px;
    border-color: var(--accent-1-d);
    border-style: solid;
    background-color: var(--background-2-d);
    color: var(--text-1-l);
}


.button-big {
    margin: 1em;
    padding: 0.25em;
}

.button-cancel {
   border-color: var(--accent-2-l)
}


audio {
    background-color: var(--accent-3-d);
    color: black;
    height: 25px;
}

form {
    padding: 1em;
}

input[type=submit] {
    margin: 0.75em;
    padding: 0.5em;
    font-size: large;
}

input[type=text],textarea {
    margin: 0.3em;
    border-radius: 0px;
    border-color: var(--accent-1-d);
    border-style: solid;
    background-color: var(--background-2-d);
    color: var(--text-1-l);
    width: max-content;
}

textarea { resize: vertical; }

input:disabled {
    border-color: gray;
}

div.type-spec-inputs {
    display: grid;
    grid-template-columns: max-content auto 1px;
    row-gap: 5px;
}

label {
    text-align: right;
}

.btn-edit {
    float: right;
}